.Title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 10px;
}

.title-and-sub {
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
.title-text {
    margin: 0px;
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative;
    font-family: 'Archivo Black', sans-serif;
    font-size: 3rem;
    color: black;
    display: inline;
}

.subtitle-text {
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 1rem;
    display: inline;
    color: black;
    position: relative;
    font-family: 'Abel', sans-serif;
    margin: 5px;
    margin-top: 0px !important;
}

.my-portrait {
    width: 200px;
    top: 15px;
    margin-left: auto;
    margin-right: auto;
}
